body {
  background: #d4d4d4;
}
h1{ 
  text-align: left;
  text-indent: 20px;
}
h2 {
  color: #474747;
  text-align: center;
}
.titles {
  color: #25c8f5;
  
}

.lessonnotes {
  background: white;
  border: 3px solid black;
  margin: 5px;
  border-radius: 15px;
  max-width: 1000px;
}


 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 